/* #navbar-link:hover{
  color: burlywood;
}

#recipe-page{
  font-weight: 600;
  color:black;
}

#recipe-page:hover{
  border-bottom: 5px burlywood solid;
  padding-bottom: 0.5rem;
} */

#logo {
  width: 60px;
}
#login-button{
  background-color: black;
  color: white;
  border: none;
}

#login-button:hover{
  box-shadow: 1px 0px 10px 0px #000000;
}

a:link {
  padding: 0 20px;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
}

a:visited {
  color: black;
  font-family: 'Comfortaa', cursive;
}

header {
  text-align: center;
  padding: 20px;
  margin: auto;
  letter-spacing: 3pt;
}

header h4 {
  font-size: 6vw;
  color: white;
  font-family: 'Coiny', cursive;
}

#head-img {
  background: url("/public/images/homeSplash.png") no-repeat center;
  height: 300px;
  margin-bottom: 20px;
}

#head-img p {
  text-align: center;
  margin: 10px 18vw;
  color: rgb(255, 255, 255);
  /* font-family: 'Coiny', cursive; */
  font-family: 'Comfortaa', cursive;
  font-size: 18pt;
  background-color: rgb(233, 233, 233, 0.4);
  border-radius: 25px;
}

